# --extra-index-url https://download.pytorch.org/whl/cu113
# torch==1.10.0+cu113
# --extra-index-url https://download.pytorch.org/whl/cu113
# torchaudio==0.10.0+cu113
torch==1.10.0
torchaudio==0.10.0
scipy
numpy
praat-parselmouth
scikit-maad
torchvision
fairseq
pyworld
aiohttp
tornado
spleeter
pymusic-dl
gradio
librosa==0.9.0
setuptools==59.5.0
SoundFile