gradio==3.20.0
librosa
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.10.0+cu113
--extra-index-url https://download.pytorch.org/whl/cu113
torchaudio==0.10.0+cu113
# torch==1.10.0
# torchaudio==0.10.0
scipy==1.7.3
numpy
SoundFile==0.10.3.post1
praat-parselmouth
scikit-maad
torchvision
fairseq
pyworld
aiohttp==3.8.4
tornado